body {
  background-color: #ececec;
  font-family: "Roboto Mono", monospace;
  color: black;
}

#contact-body {
  background-color: #ececec;
}

.jumbotron {
  background-color: #5da2d5;
  border-radius: 0px;
}

.nav {
  font-family: "Roboto Mono", monospace;
  background-color: #f3d250;
}

.nav-link {
  color: #f78888;
}

.btn {
  background-color: #f3d250;
  color: #f78888;
}

.container {
  background-color: #5da2d5;
}

.contact-title {
  margin-top: 10px;
  color: black;
  transition: all 4s ease-in-out;
}

form {
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  background-color: #ececec;
}

form .submit {
  color: #f78888;
  background-color: #f3d250;
}
