body {
  background-color: #ececec;
  font-family: "Roboto Mono", monospace;
  color: black;
}

.jumbotron {
  background-color: #5da2d5;
  border-radius: 0px;
}

.nav {
  font-family: "Roboto Mono", monospace;
  background-color: #f3d250;
}

.nav-link {
  color: #f78888;
}

.btn {
  background-color: #f3d250;
  color: #f78888;
}

.container {
  background-color: #5da2d5;
}
/* img {
  width: 50%;
} */

/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25vw;
} */

/* .card {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
} */

/* .table {
  display: flex;
  flex-wrap: ;
  margin-left: auto;
  margin-right: auto;
} */
