body {
  background-image: url(https://cutewallpaper.org/21/simple-background-wallpaper/vy12-simple-white-pattern-background-wallpaper.jpg);
}

h4,
h5 {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: rgb(21, 87, 187);
}

nav {
  font-family: "Roboto Mono", monospace;
  color: #5da2d5;
  background-color: #f3d250;
}

img {
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25vw;
}

.card {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.table {
  display: flex;
  flex-wrap: ;
  margin-left: auto;
  margin-right: auto;
}
